Repository Stock-Management-System/dentalApp, pull requests merged in 2023-01, with the labels that each got.

#78 our doctors added
  src/components/polyclinic/doctors/DoctorsOur.jsx
  src/helpers/data.js
  src/pages/polyclinic/doctors/PolyclinicDoctors.jsx
  tailwind.config.js
Labels: Polyclinic

#90 Polyclinic_settings
  src/assets/Poliklinikpp.png
  src/pages/polyclinic/settings/Settings.jsx
Labels: Polyclinic

#95 Doctor_Cursor
  src/components/polyclinic/doctors/DoctorPerformance.jsx
  src/components/polyclinic/doctors/DoctorPermits.jsx
  src/components/polyclinic/doctors/DoctorsOur.jsx
Labels: bug, Polyclinic

#96 Patient record pages
  package.json
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/assets/InciDis.png
  src/components/dashboard/NavBar.jsx
  src/components/dashboard/recordPatient/AppointmentDate.jsx
  src/components/dashboard/recordPatient/DoctorsForRecord.jsx
  src/components/dashboard/recordPatient/InfoOfPatient.jsx
  src/components/dashboard/recordPatient/InfoPatientForm.jsx
  src/components/dashboard/recordPatient/PolyclinicForRecord.jsx
  src/components/validations/tcNoScheme.jsx
  src/pages/dashboard/RecordPatient.jsx
  src/router/AppRouter.jsx
  yarn.lock
Labels: dashboard

#100 hastalar table
  src/app/store.js
  src/components/dashboard/NavBar.jsx
  src/components/polyclinic/polyclinicDashboard/ClinicHeader.jsx
  src/components/polyclinic/polyclinicDashboard/DoctorsCard.jsx
  src/components/polyclinic/polyclinicDashboard/DoctorsTitle.jsx
  src/features/policlinicProfileSlice.js
  src/helpers/data.js
  src/pages/dashboard/RecordPatient.jsx
  src/pages/doctor/patients/Patients.jsx
  src/pages/polyclinic/profile/PolyclinicProfile.jsx
  src/router/AppRouter.jsx
Labels: doctors

#97 Dr hastalar hasta profile
  src/components/doctor/patient/PatientProfile.jsx
  src/components/doctor/patient/sampleData.js
  src/index.css
  src/pages/doctor/patients/Patients.jsx
  tailwind.config.js
Labels: good first issue
